.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.bod {
    margin: 0;
    padding: 0;
    background-color: #0C0503
}

.proletariat {
    background-color: #4CAF50;
    border: none;
    width: 49.39%;
    color: white;
    padding: 50px 80px;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
}

.proletariat:hover {
    background-color: limegreen;
}

.proletariat:active {background-color: #3e8e41}

.proletariat-high {
    background-color: #4CAF50;
    border: none;
    width: 49.39%;
    color: white;
    padding: 50px 80px;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
}

.proletariat-high:hover {
    background-color: limegreen;
}

.proletariat-high:active {background-color: #3e8e41}

.proletariat-mid {
    background-color: #4CAF50;
    border: none;
    width: 49.39%;
    color: white;
    padding: 50px 80px;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
}

.proletariat-mid:hover {
    background-color: limegreen;
}

.proletariat-mid:active {background-color: #3e8e41}

.proletariat-low {
    background-color: #4CAF50;
    border: none;
    width: 49.39%;
    color: white;
    padding: 50px 80px;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
}

.proletariat-low:hover {
    background-color: limegreen;
}

.proletariat-low:active {background-color: #3e8e41}

.BIGDATA {
    margin-top: 5px;
    background-color: #2b64ba;
    border: none;
    color: white;
    width: 99%;
    padding: 50px 80px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.BIGDATA:hover {
    background-color: cornflowerblue;
}

.BIGDATA:active {background-color: #173965
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal*/

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab img {
    margin-top: 3px;
    width: 40px;
    height: 40px;
    float: right;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: grey;
}

/* Style the tab content */
.tabContent {
    display: none;
  /*  padding: 6px 12px; */
    border: none;
    justify-content: space-evenly;

}

.BAD {
    background-color: crimson;
    border: none;
    width: 49.39%;
    color: white;
    padding: 50px 80px;
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
}

.BAD:hover {
    background-color: red;
}

.BAD:active {background-color: #950000}

.input {
    margin-bottom: 2px;
    margin-top: 2px;
    height: 115px;
    width: 49%;
    font-size: 16px;
    background-color: white;
    display: inline-block;
}

.credits {
    color: darkgrey;
    font-size: 17px;
}